@import '/src/styles.scss';

:host {
  display: table;
  box-shadow: $depth_2;
  background-color: $clr_neutral_0;
  width: 100%;
  
  &.rounded {
    overflow: hidden;
    border-radius: $radius_lg;
  }

  &.card-view {
    box-shadow: none;
    border-collapse: separate;
    border-spacing: 0 16px;
  }
}
