// Primary
$clr_primary_900: #152979;
$clr_primary_700: #2140BA;
$clr_primary_400: #4060DD;
$clr_primary_200: #B7C5FA;
$clr_primary_50: #E2E7FD;


// Secondary
$clr_secondary_900: #006096;
$clr_secondary_700: #0C75AF;
$clr_secondary_400: #66B7F1;
$clr_secondary_200: #B8E1FF;
$clr_secondary_50: #EAF5FF;

// Neutral
$clr_neutral_900: #212121;
$clr_neutral_800: #424242;
$clr_neutral_700: #616161;
$clr_neutral_600: #757575;
$clr_neutral_500: #9E9E9E;
$clr_neutral_400: #BDBDBD;
$clr_neutral_300: #E0E0E0;
$clr_neutral_200: #EEEEEE;
$clr_neutral_100: #F5F5F5;
$clr_neutral_50: #FAFAFA;
$clr_neutral_0: #FFFFFF;

// Danger
$clr_danger_max: #990000;
$clr_danger_900: #B72B1A;
$clr_danger_700: #D02B20;
$clr_danger_400: #EE5E52;
$clr_danger_200: #F5C0B8;
$clr_danger_50: #FCECEA;

// Success
$clr_success_900: #2F6846;
$clr_success_700: #328048;
$clr_success_400: #5CB176;
$clr_success_200: #C6F0C2;
$clr_success_50: #EAFBE7;

// Warning
$clr_warning_900: #BE5D01;
$clr_warning_700: #D9822F;
$clr_warning_400: #F29D41;
$clr_warning_200: #FAE7B9;
$clr_warning_50: #FDF4DC;

