.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: max-content;

  input {
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0 0 0 1px inset #e4e9f2;
    padding-inline: 6px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 4px;
  }
}